.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.reservations {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  margin: 2rem 2rem;
}

.empty {
  margin-top: 2rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}