.title {
  font-size: 1.5rem;
  font-weight: bold;
}

.reservations {
  height: 100%;
  max-width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.empty {
  margin-top: 2rem;
}

.spinner {
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
  height: 100%;
}

/* .container {
  flex: 1;
  color: black;
  
  display: flex;
  margin-top: 0;
  max-height: 100%;
  flex-direction: column;
} */

.container {
  margin-left: 2rem;
  margin-right: 2rem;
  overflow: auto;
}


.list {
  flex-grow: 4;
  overflow: auto;
}