.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  border: 1px solid #000000;
  flex-grow: 1;
}

.container {
  display: flex;
  justify-content: space-evenly;
  display: flex;
  align-items: center;
  align-content: center;
  width: 100%;
}