.item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  height: 100%;
  padding: 1.5rem 0;
  border-bottom: 2px dotted #000000;
  margin-top: 1rem;
}

.name {
  font-size: 1.2rem;
  color: #000;
}

.action {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.actionItem {
  margin: 0 0 0 1.5rem;
}

.status0{
  color: #9a0001;
}
.status1{
  color: #994C01;
}
.status2{
  color: #006600;
}